CONFIG_TARGET_ipq40xx=y
CONFIG_TARGET_ipq40xx_chromium=y
CONFIG_TARGET_ipq40xx_chromium_DEVICE_google_wifi=y

## Base system##
CONFIG_PACKAGE_blockd=y
## end of Base system

### Extra packages###
CONFIG_PACKAGE_automount=y
## end of Extra packages

## Kernel modules##
#
# Filesystems
CONFIG_PACKAGE_kmod-fs-xfs=y
CONFIG_PACKAGE_kmod-fuse=y
# end of Filesystems
#

## LuCI##

# Translations
CONFIG_PACKAGE_luci=y
CONFIG_PACKAGE_luci-base=y
CONFIG_LUCI_LANG_zh_Hans=y

#  Applications
#
CONFIG_PACKAGE_luci-app-autoreboot=y
CONFIG_PACKAGE_luci-app-cpufreq=y

CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-ttyd=y

CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
# end of  Applications

#
#  Themes
#
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_luci-theme-bootstrap=y
CONFIG_PACKAGE_luci-theme-design=y
# end of Themes
## end of LuCI

## Utilities##
# Disc
#
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_fdisk=y
#
# end of Disc
# Filesystem
#
CONFIG_PACKAGE_xfs-mkfs=y
#
# end of Filesystem
## end of Utilities##
