CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
CONFIG_TARGET_mediatek_filogic_DEVICE_jcg_q30-pro=y

CONFIG_PACKAGE_luci-theme-aurora=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-i18n-passwall-zh-cn=y

CONFIG_PACKAGE_luci-app-homeproxy=y
CONFIG_PACKAGE_luci-i18n-homeproxy-zh-cn=y

CONFIG_PACKAGE_luci-app-momo=y
CONFIG_PACKAGE_luci-i18n-momo-zh-cn=y
